<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModernNotyfi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ModernNotyfi.Properties.Settings>
            <setting name="last_check_update" serializeAs="String">
                <value>Никогда</value>
            </setting>
            <setting name="opacity_panel" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="color_panel" serializeAs="String">
                <value>#fff</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NowPlay" serializeAs="String">
                <value>Очередь пуста</value>
            </setting>
            <setting name="Show_Exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Disign_Shutdown" serializeAs="String">
                <value>old</value>
            </setting>
            <setting name="User_Name" serializeAs="String">
                <value>Пользователь</value>
            </setting>
            <setting name="show_start_notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hotkey_1" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="hotkey_2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="posicion" serializeAs="String">
                <value>rigth</value>
            </setting>
            <setting name="First_Settings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CornerRadius" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AllowsTransparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Russian</value>
            </setting>
            <setting name="progressbarstyle" serializeAs="String">
                <value>new</value>
            </setting>
        </ModernNotyfi.Properties.Settings>
    </userSettings>
</configuration>
